src/xsd-parts/Types/SetIntType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           vc:minVersion="1.1" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning">
    <xs:complexType name="SetIntType">
        <xs:attribute fixed="set" name="operation" type="xs:string" use="required"/>
        <xs:attribute name="value" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:int">
                    <xs:enumeration value="1"/>
                    <xs:enumeration value="0"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
</xs:schema>